@keyframes subtle-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
}

.animate-subtle-shake {
  animation: subtle-shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes subtle-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.animate-subtle-bounce {
  animation: subtle-bounce 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
